@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: #36454f;
  color: #e2725b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Raleway', sans-serif;
}

.main {
  background-color: #36454f;
  color: #e2725b;
  font-size: calc(10px + 2vmin);
  font-family: 'Raleway', sans-serif;
}

.App-link {
  color: #61dafb;
}

.mixer-container {
  display: flex;
}

.mixer-image {
  width: 170px;
  height: 200px;
  position: relative;
}

.turntable-image {
  width: 235px;
  height: 200px;
  position: relative;
}

.vinyl-image {
  position: absolute;
  top: 12px;
  left: 10px;
  width: 173px;
  height: 176px;
}

.mixer-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
